extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/filter-search.pug
include ../../mixins/panination.pug
include ../../mixins/moment.pug
block main 
    if(role.permissions.includes("products_view"))

        +alert_success(5000)
        
        h1 Trang sản phẩm
        //- bo loc va tim kiem
        +filter-search(filter)
        //- end bo loc va tim kiem

        //- Sắp xếp theo nhiều tiêu chí
        +sort()
        //- end Sắp xếp theo nhiều tiêu chí


        //- table danh sách sản phẩm   
        div(class="card mb-3")
            div(class="card-header") Danh sách sản phẩm
            div(class="card-body" style = {padding:"0px"})
                div(class="row") 
                    div(class="col-3")
                        form(
                            action = "/admin/products/change-multi?_method=PATCH"
                            method = "POST"
                            id = "form-change-multi"
                        )
                            div(class="input-group" style = {padding:"10px"})
                                select(name = "type" class="form-control")
                                    option(disabled selected) Chọn hành động
                                    option(value = "active") Hoạt động
                                    option(value = "inactive") Dừng hoạt động
                                    option(value = "delete-all") Xóa tất cả
                                    option(value = "change-position") Thay đổi vị trí
                                input(class="form-control d-none" name = "ids" type = "text")
                                div(class = "input-group-append")
                                    button(type="submit" class="btn btn-success") Áp dụng
                    div(class="col-9 d-flex justify-content-end align-items-center")
                        if(role.permissions.includes("products_create"))

                            a(href = "/admin/products/create" class = "btn btn-success" ) + Thêm mới
                table(class = "table table-hover" check-box)
                    thead
                        tr
                            th 
                                input(type = "checkbox" name = "checkall" ) 
                            th STT 
                            th Tiêu đề
                            th Hình ảnh
                            th Giá
                            th Vị trí
                            th Trạng thái 
                            th Ngày tạo
                            th Cập nhập
                            th Hành động
                    tbody
                        each item , index in products
                            tr  
                                td 
                                    input(type = "checkbox" name = "id" value = item.id )  
                                td #{panination.limitItem*(panination.currentPage-1) + (index + 1)}
                                td #{item.title}
                                td 
                                    img(src = item.thumbnail alt = item.title)
                                td #{item.price}
                                td 
                                    input(min = "1" value = item.position type = "number" style ="width:60px" name = "position")
                                td
                                    if(role.permissions.includes("products_edit"))

                                        if(item.status == "active") 
                                            a(class = "badge badge-success" href = "javascript:;" data-id = item.id data-status = item.status button-status) Hoạt động
                                        else 
                                            a(class = "badge badge-danger" href = "javascript:;" data-id = item.id data-status = item.status button-status) Dừng hoạt động
                                td 
                                    p #{item.accountFullName}
                                    p
                                        +formatDate(item.createBy.createAt)
                                td 
                                    - const updatedBy = item.updatedBy.slice(-1)[0];
                                    if(updatedBy)
                                        p #{updatedBy.accountFullName}
                                        p
                                            +formatDate(updatedBy.updatedAt)
                                td
                                    if(role.permissions.includes("products_edit"))

                                        a( class="btn btn-success ml-1 btn-sm" href = `/admin/products/edit/${item.id}`) Sửa
                                    if(role.permissions.includes("products_delete"))

                                        button(type="button" class="btn btn-danger ml-1 btn-sm" button-delete-item data-id = item.id) Xóa
                                    a( class="btn btn-primary ml-1 btn-sm" href = `/admin/products/detail/${item.id}`) Chi tiết
        //- end table danh sách sản phẩm 

        //- pagination
        +panination(panination)
        //- end pagination

        form(action=""
            method = "POST"
            path ="/admin/products/change-status"
            form-change-status )
        form(action = ""
            method = "POST"
            form-delete-item
            path = "/admin/products/delete")
        