extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert_success("2000")
    div(class="product-detail-page")
        div(class="container-fluid my-5")
            div(class="row")
                div(class="col-4")
                    div(class="inner-image-box")
                        if(products.thumbnail)
                            .inner-main-image
                                img(src=products.thumbnail alt=products.title width = "100%")
                            
                div(class="col-4")
                    div(class="inner-info-box")
                        if(products.title)
                            h1(class="inner-title") #{products.title}
                        div(class="inner-meta")
                            span.inner-brand Thương hiệu: 
                                a(href=`/products/${products.category.slug}`) #{products.category.title}
                        .inner-price-wrap
                            if(products.priceNew)
                                .inner-price-new #{parseInt(products.priceNew).toLocaleString('vi-VN')} <sup>đ</sup>
                            if(products.discountPercentage)
                                .inner-percent -#{products.discountPercentage}%
                            if(products.price)
                                .inner-price-old #{products.price.toLocaleString('vi-VN')}<sup>đ</sup>
                            
                        .inner-attributes
                            if(products.stock)
                                .attribute-item
                                    span.label Tình trạng:
                                    span.value.text-success #{products.stock > 0 ? 'Còn hàng' : 'Hết hàng'}
                            if(products.position)
                                .attribute-item
                                    span.label Vị trí kho:
                                    span.value #{products.position}
                        if(products.description)
                            .inner-desc
                                div.label Mô tả sản phẩm:
                                div.content !{products.description}
                div(class="col-4")
                    form(action=`/cart/add/${products.id}` method="POST")
                        .inner-actions
                            .quantity-box
                                span.label Số lượng:
                                div.quantity-control
                                    button(type="button" class="btn-minus") -
                                    input(type="number" name="quantity" value="1" min="1" max=products.stock)
                                    button(type="button" class="btn-plus") +
                            
                            .button-group
                                button(type="submit" class="btn btn-buy")
                                    strong Giỏ hàng
                                    span Giao hàng tận nơi hoặc nhận tại cửa hàng
                            
                                //- button(type="button" class="btn btn-success") Giỏ hàng
                                    