mixin product-item(item)
    div(class="col-4")
        div(class="inner-box")
            div(class="inner-image")
                img(src = item.thumbnail alt = item.title)
                div(class="inner-discount") -#{item.discountPercentage}%
                if(item.featured == "1")
                    div(class="inner-featured") Nổi bật
            div(class="inner-content")
                h1(class= "inner-title")
                    a(href = `/products/detail/${item.slug}`) #{item.title}
                div(class="inner-item")
                    p(class="inner-price-new") #{item.priceNew}$
                    p(class="inner-price-old") <del>#{item.price}$