extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert_success("2000")
    .cart-page
        .container.my-5
            .row
                .col-12
                    h3.mb-4.cart-header Trang Giỏ Hàng 

            .row
                //- --- CỘT TRÁI: DANH SÁCH SẢN PHẨM ---
                .col-md-9
                    .card.cart-card
                        .card-body.p-0
                            table.table.cart-table
                                thead
                                    tr
                                        th.text-center(width="50px") STT
                                        th(width="100px") Hình ảnh
                                        th Tên sản phẩm
                                        th Giá
                                        th Số lượng
                                        th Tổng tiền
                                        th.text-center Hành động
                                tbody
                                    if(cartDetail.products.length > 0)
                                        each item ,index in cartDetail.products
                                            tr
                                                td.text-center.align-middle #{index + 1}
                                                td.align-middle
                                                    .product-img-wrap
                                                        img(src=item.productInfo.thumbnail alt=item.productInfo.title)
                                                td.align-middle
                                                    a.product-title(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                                td.align-middle
                                                    .price-new #{item.productInfo.priceNew.toLocaleString('vi-VN')} <sup>đ</sup>
                                                    .price-old #{item.productInfo.price.toLocaleString('vi-VN')} <sup>đ</sup>
                                                td.align-middle
                                                    .quantity-control.small
                                                        button.btn-minus(type="button") -
                                                        input(type="number" value=item.quantity min="1" name = "quantity" product-id = item.product_id)
                                                        button.btn-plus(type="button") +
                                                td.align-middle
                                                    span.total-price #{item.totalPrice.toLocaleString('vi-VN')} <sup>đ</sup>
                                                td.text-center.align-middle
                                                    a(class="btn btn-sm btn-outline-danger" href = `/cart/delete/${item.product_id}`) Xóa
                                    else 
                                        h3 Không có sản phẩm nào trong giỏ hàng

                                    

                .col-md-3
                    .card.summary-card
                        .card-body
                            h5.card-title.mb-4 Thông tin đơn hàng
                    
                            .d-flex.justify-content-between.mb-2
                                span.text-muted Tạm tính:
                                strong #{cartDetail.totalPrice.toLocaleString('vi-VN')} <sup>đ</sup>
                            
                            //- .d-flex.justify-content-between.mb-3
                            //-     span.text-muted Giảm giá:
                            //-     span.text-success -0đ

                            hr
                            
                            .d-flex.justify-content-between.mb-4
                                strong.text-dark Tổng cộng:
                                strong.text-danger.fs-4 #{cartDetail.totalPrice.toLocaleString('vi-VN')} <sup>đ</sup>
                            
                            .d-grid.gap-2
                                button.btn.btn-buy.btn-lg(type="button") MUA HÀNG
    script(src = "/client/js/cart.js")